<h2>ユーザー新規作成</h2>

<hr>

<form action="/users" method="post">
  <p>ユーザー名：</p>
  <p><input name="name" type="text"></input></p>
  <p>パスワード：</p>
  <p><input name="password" type="text"></input></p>
  <p>メールアドレス：</p>
  <p><input name="email" type="text"></input></p>
  <p><input type="submit"/></p>
</form>


